.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }



.div-buttom {
    padding: 10px;
    margin-top: 0px !important;
}
.td-buttom {
    display: flex;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .name-position {
    width: 430px;
  }

  .obs-position {
    width: 655px;
  }


.attachDocument-position {
    width: 655px;
}
#criar-bt {
  margin-top: 20px;
  float: left;
  }

.custom-file {
  width: 655px;
}